<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS 02 zad 03</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <h3>ul 1 - value key obiektu</h3>

      <li v-for="(val, key) in object">{{key}} - {{val}}</li>

      <h3>ul 2 - key value index obiektu</h3>

      <li v-for="(val, key, index) in object">{{index}} - {{key}} - {{val}}</li>
    </div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          object: {
            a: 111,
            b: 222,
            c: 333,
          },
        };
      },
    }).mount('#app');
  </script>
</html>
